/*-------------------------------------------
---- NO SE MUESTRA AL CARGAR LA PAGINA ------
-------------------------------------------*/
.mensaje, .asterisco, .p, #div_mapa, #divNoHaydatos, #id_registro{
    display: none;
}
/*-------------------------------------------
-------------- GENERAL ----------------------
-------------------------------------------*/
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Tahoma", sans-serif;
    color: rgba(0,0,0,.8);
}
h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #2D2D2D;
}
/*-------------------------------------------
-------------- WRAPPER ----------------------
-------------------------------------------*/
#wrapper {
    background: #FFF;
    margin: 0px 0px;
}
.container {
    width: 95%;
    margin: 0px auto;
}
/*-------------------------------------------
-------------- HEADER ----------------------
-------------------------------------------*/
#header-wrapper {
    background: #333333 url(images/overlay.png);
    background-size: cover;
}
#header {
    position: relative;
    overflow: hidden;
    height: 130px;
}
/*-------------------------------------------
----------------- LOGO ----------------------
-------------------------------------------*/
#logo {
    height: 25%;
    top: 2em;
    left: 0;
}
#titulo {
    margin-top: 10px;
    margin-left: 150px;
    border: none;
    background: none;
    text-decoration: none;
    color: #FFF;
    font-size: 35pt;
}
/*-------------------------------------------
-------------- MENU ----------------------
-------------------------------------------*/
#menu {
    overflow: hidden;
    background: #202020;
}
#menu ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    list-style: none;
    line-height: normal;
    text-align: center;
}
#menu li {
    display: inline-block;
}
#menu a {
    display: block;
    padding: 0px 50px 0px 40px;
    line-height: 70px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    color: rgba(255,255,255,0.5);
    border: none;
}
#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
    color: rgba(255,255,255,1);
}
#menu .last {
    border-right: none;
}
/*-------------------------------------------
--------------- MENU 2 ----------------------
-------------------------------------------*/
#nav_Menu{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 10px;
    background-color: #202020;
    border-radius: none;
    overflow:hidden;
}
#nav_Menu ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}
#nav_Menu ul li{
    float:left;
    border-radius:5px;
    font-weight:bold;
}
#nav_Menu ul li:hover{
    background-color: #fff;
}
#nav_Menu ul li a, #li_registrar{
    color: #fff;
    display:block;
    padding:10px;
    text-decoration:none;
}
#nav_Menu ul li a:hover {
    color: black;
}
#li_registrar:hover{
    color: black;
    cursor: pointer;
}
/*-------------------------------------------
------------- TITULO PAGINA -----------------
-------------------------------------------*/
#tituloCabecera{
    margin-top: 2%;
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}
#encargado{
    text-align: center; 
    margin-top: 0px;
    font-family: Arial Black; 
    font-weight: bold; font-size: 20px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}
#opcionesMenuDirectorio{
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 77.5%;
    margin-bottom: 0.3px;
    margin-left: 165px;
    text-align: left;
    padding: 10px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(218,216,218,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
/*-------------------------------------------
------------BOTON REGISTRAR------------------
-------------------------------------------*/

#btn_registrar{
    padding:5px 20px 5px 20px; 
    background-color:#333; 
    color:#fff; 
    border:2px inset #6E6E6E; 
    margin-right:10px; 
    cursor:pointer;
}
/*-------------------------------------------
-----------------FORMULARIO------------------
-------------------------------------------*/
#modal{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: -120vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}
#modal #modal-content{
    position: relative;
    text-align: center;
    background-color: #fefefe;
    top: 10%;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.5s
}
.modal-content table{
    background: blue;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}
#cedulaDetalle{
    color: white;
    font-size: 25px;
    margin-bottom: 0; 
}
#tablaxinformacionDetallada {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    overflow: auto;
}
#tablaxinformacionDetallada tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}
#tablaxinformacionDetallada th, #tablaxinformacionDetallada td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}
#td_mapa{
    width: 100px;
    height: 100px;
}
.modal-body {
    padding: 2px 16px;
}
.modal-footer {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}
/*
#modal #modal-content input[type="text"]{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 15px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 8px;
    background-color: #e8eeef;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
#modal #modal-content select{
    width: 400px;
    margin-bottom: 10px;
    border: 1px solid #A4A4A4;
    border-radius: 3px;
    font-size: 15px;
}
#modal #modal-content textarea{
    background: rgba(255,255,255,0.1);
    background-color: #e8eeef;
    border: 1px solid #A4A4A4;
    border-radius: 3px;
    margin-bottom: 10px;
}*/
#modal #modal-content #btn{
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#modal #modal-content #btn:hover{
    opacity: 8;
}
#modal #modal-content #cancelar{
    background-color: #f44336;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#modal #modal-content #cancelar:hover{
    opacity: 8;
}
/*-------------------------------------------
-------------TABLA RESULTADOS----------------
-------------------------------------------*/
#div_Tabla {
    margin-top: 10px;
    width: 79%;
    margin-left: 165px;
    border-radius:10px;
}
#tabla {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}
#tabla th, #tabla td {
    text-align: center;
    padding: 12px;
}
#tabla tr {
    border-bottom: 1px solid #ddd; 
}
#tabla tr.header, #tabla tr:hover {
    background-color: #f1f1f1;
}

#tabla,#tablaDirectorio{
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#tabla th, #tabla td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tabla tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tabla tr.header, #tabla tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

/*
#tabla {
    border: 1px solid #999;
    margin-top: 20px;
    margin-left: 20px;
    border-radius:10px;
}
#div_Tabla #tabla caption{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
#div_Tabla #tabla #id_numero-fila{
    text-align: left;
    width: 3%;
}
#div_Tabla #tabla .class_th{
    text-align: left;
    width: 10%;
}
#div_Tabla #tabla th, td{
    border-bottom: 1px solid #999;
}
#div_Tabla #tabla .cla:hover {
    background-color: #C0C0C0;
}
*/
#div_Tabla #tabla .btnActualizar{
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#div_Tabla #tabla .btnActualizar:hover{
    opacity: 8;
}
#div_Tabla #tabla .btnEliminar{
    background-color: #f44336;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#div_Tabla #tabla .btnEliminar:hover{   
    opacity: 8;
}
#div_Tabla #tabla .btnMostrar{
    background-color: #4bc970;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#div_Tabla #tabla .btnMostrar:hover{
    opacity: 8;
}
#div_Tabla #tabla p{
    margin: 0;
}
#div_Tabla #tabla .btn_mas{
    border-radius: 6px;
    cursor: pointer;
}
#div_Tabla #tabla .btn_mas:hover{
    background-color: #1D49D9;
}
/*-------------------------------------------
------------------FOOT-----------------------
-------------------------------------------*/
#div_Tabla #tabla #divNoHaydatos{
    margin-left: 100px;
    text-align: center;
}
/*-------------------------------------------
-------------- FOOTER -----------------------
-------------------------------------------*/
#footer {
    margin-top: 10px;
    overflow: hidden;
    background: #202020;
    padding: 3em 0px 2em 0px;
}
#footer p {
    text-align: center;
    color: rgba(255,255,255,0.3);
}
#footer a {
    color: rgba(255,255,255,0.4);
}
/*-------------------------------------------
------------MODAL CONFIRMACION--------------_
-------------------------------------------*/
#div_modal_confirmacion{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}

#div_modal_confirmacion #div_confirmacion{
    margin-left: 30%;
    margin-top: 200px;
    max-width: 295px;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

#div_modal_confirmacion #div_confirmacion label{
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 10px;
}
#div_modal_confirmacion #div_confirmacion #btn_confirmar{
    margin-left: 30px;
    margin-top: 10px;
    padding: 4px 10px;
    color: #FFF;
    background-color: #1D49D9;
    font-size: 20px;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid #1D49D9;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    cursor: pointer;
}
#div_modal_confirmacion #div_confirmacion #btn_confirmar:hover{
    background-color: white; 
    color: black; 
    border: 2px solid #1D49D9;
    padding: 3px 9px;
}
#div_modal_confirmacion #div_confirmacion #btn_cancelar_confirmacion{
    padding: 4px 10px;
    color: #FFF;
    background-color: #DF0101;
    font-size: 20px;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid #DF0101;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    cursor: pointer;
}
#div_modal_confirmacion #div_confirmacion #btn_cancelar_confirmacion:hover{
    background-color: white; 
    color: black; 
    border: 2px solid #DF0101;
    padding: 3px 9px;
}
/*-------------------------------------------
------------MODAL CONFIRMACION--------------_
-------------------------------------------*/
#div_mapa{
    margin-left: 10%;
    margin-right: 10%;
}
#mapa{
    margin-left: 20%;
}
#tabla_mapa{
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}
#tabla_mapa tr{
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}
#tabla_mapa th, #tabla_mapa td{
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}
#btn_regresar{
    background-color: #DF0101;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 6px 12px;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
#btn_regresar:hover{
    background-color: white; 
    color: #DF0101; 
    border: 2px solid #DF0101;
    padding: 4px 10px;
}
#buscar {
    width: 77.3%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-left: 164px;
}
#paginacion {
    width: 1200px;
    margin-top: 20px;
    list-style-type: none;
    overflow: hidden;
}

#paginacion li {
    float: left;
}

#paginacion li a {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#paginacion li a:hover {
    background-color: #000;
}

/*-------------------------------------------
----------------- MAPA ----------------------
-------------------------------------------*/
#map {
    margin-top: 10px;
    margin-left: 150px;
    width: 200px;
    height: 100px;
}