

/*Inicio del Cuerpo y del contenido de la página*/
.main{
  background: #A9A9A9;
  /*padding: 5px;*/
}

.color1{
  background: #34495e;
  color: #fff;
}

.color2{
  background: #14415a;
  color: #fff;
}

.color3{
  background: #7FFFD4;
  color: #000;
}

.color4{
  color: #000;
}

.color5{
  /*background: #7e7e7e;*/
  font-size: 12px;
}

aside{
  background: #fff;
  color: #fff;
}





/*Vertical Carousel*/
.carousel-inner,.carousel,.carousel-item,.contain,.fill {  /*.carousel-item  */
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}

.aside{display:inline;}
.aside .contain{padding:0;}


/*
.btn btn-primary{
    display: inline-block;
    margin-top: 2em;
    padding: 0em 1em;
    background: #970A42;
    border-radius: 8px;
    letter-spacing: 0.10em;
    line-height: 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
}
*/


