#encargado{
    text-align: center; 
    margin-top: 0px;
    font-family: Arial Black; 
    font-weight: bold; font-size: 20px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

}

#buscar {
    width: 97.8%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#encargado{
    text-align: center; 
    margin-top: 0px;
    font-family: Arial Black; 
    font-weight: bold; font-size: 20px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

}

#tituloCabecera{

    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

#opcionesMenuDirectorio{
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 10px;

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(218,216,218,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(218,216,218,1) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
/***************************************************************************************************/
#buscar {
    width: 97.8%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#tabla{
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#tabla th, #tabla td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tabla tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tabla tr.header, #tabla tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#modal{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: -500vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .7s;
}

#modal #modal-content{
    position: relative;
    text-align: center;
    background-color: #fefefe;
    top: 100px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.7s
}

.modal-content table{
    background: blue;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

#cedulaDetalle{
    color: white;
    font-size: 25px;
    margin-bottom: 0; 
}

#tablaxinformacionDetallada {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    overflow: auto;
}

#tablaxinformacionDetallada th, #tablaxinformacionDetallada td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaxinformacionDetallada tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaxinformacionDetallada tr.header, #tablaxinformacionDetallada tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#td_mapa{
    width: 100px;
    height: 100px;
}

#nav_Menu {
    overflow: hidden;
    background: #202020;
}

#nav_Menu ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    list-style: none;
    line-height: normal;
    text-align: center;
}

#nav_Menu li {
    display: inline-block;
}

#nav_Menu a {
    display: block;
    padding: 0px 50px 0px 40px;
    line-height: 70px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    color: rgba(255,255,255,0.5);
    border: none;
}

#nav_Menu a:hover {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

#nav_Menu .last {
    border-right: none;
}

.contenedor {
    width: 100%;
    margin:0px auto;
}

#btn_registrar{
    padding:5px 20px 5px 20px; 
    background-color:#333; 
    color:#fff; 
    border:2px inset #6E6E6E; 
    margin-right:10px; 
    cursor:pointer;     
}

#btn{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

#btn {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

#btn:hover {
  opacity: 8;
}

#cancelar{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

#cancelar {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

#cancelar:hover {
  opacity: 8;
}

.btnActualizar{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.btnActualizar {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btnActualizar:hover {
  opacity: 8;
}

.btnEliminar{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.btnEliminar {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btnEliminar:hover {
  opacity: 8;
}

#modalEliminar{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: -500vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .7s;
}

#modalEliminar #modal-contentEliminar{
    position: relative;
    text-align: center;
    background-color: #fefefe;
    top: 100px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.7s
}

.modal-contentEliminar table{
    background: blue;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 100%;
}

.closeEliminar {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeEliminar:hover,.closeEliminar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headerEliminar {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

.modal-bodyEliminar {
    padding: 2px 16px;
}

.modal-footerEliminar {
    padding: 2px 16px;
    background: #333333 url(images/overlay.png);
    background-size: cover;
}

#cedulaDetalle{
    color: white;
    font-size: 25px;
    margin-bottom: 0; 
}

#tablaxinformacionDetallada {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    overflow: auto;
}

#tablaxinformacionDetallada th, #tablaxinformacionDetallada td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#tablaxinformacionDetallada tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#tablaxinformacionDetallada tr.header, #tablaxinformacionDetallada tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#btn_confirmar{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

#btn_confirmar {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

#btn_confirmar:hover {
  opacity: 8;
}

#btn_cancelar_confirmacion{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

#btn_cancelar_confirmacion {
  background-color: #f44336;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

#btn_cancelar_confirmacion:hover {
  opacity: 8;
}

#paginacion {
  width: 1200px;
  margin-top: 20px;
  list-style-type: none;
  overflow: hidden;
}

#paginacion li {
    float: left;
}

#paginacion li a {
    display: block;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#paginacion li a:hover {
    background-color: #000;
}

#map {
    margin-top: 10px;
    margin-left: 150px;
    width: 200px;
    height: 100px;
}