header, footer{
	background: #333333;
	color: #fff;
}



footer h5, p {
  text-align: center;
  color: rgba(255,255,255,0.3);
}

footer {
  padding: 1em 0px 1em 0px;
}

footer a{
  color: rgba(255,255,255,0.9);
}

footer p{
  font-size: 12px;
}


/*navbar de tipo responsive*/

/* color negro el fondo */
.topnav {
  background-color: #202020;
  overflow: hidden;
}

/*Estilo de los links dentro del navbar*/
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*Cambiar el color de los links al hacerles un Hover*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*Añadir la clase 'active' resaltar la pagina actual*/
.active {
  background-color: #4CAF50;
  color: white;
}

/*Esconder el lint que deberá abrir y cerrar el navbar en pantallas pequeñas*/
.topnav .icon {
  display: none;
}




/*Agregar los 'media queries' !!!

Cuando la pantalla es menor que 768 de ancho, esconde todos los links excepto el de 'Inicio' ademas muestra el icono en forma de barra del menú del navbar*/
@media screen and (max-width: 766px) {
  h1 {
    font-size: 38px;
  }

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/*La clase "responsive" se añade al navbar con javaScript cuando el usuario toque el ícono, Esta clase hace que el navbar se vea bien en pantallas pequeñas (muestra los links de forma vertical y no horizontal)*/
@media screen and (max-width: 766px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


@media screen and (max-width: 576px) {
  h1 {
    font-size: 28px;
  }
}